# Localstack

HOSTNAME=localstack-s3
SERVICES=s3:5000
DEFAULT_REGION=us-east-1

S3_KEY=no_need
S3_SECRET=no_need
S3_ENDPOINT=http://localstack-s3:5000
S3_BUCKET=testbucket
S3_REGION=us-east-1

SPACES_KEY=no_need
SPACES_SECRET=no_need
SPACES_ENDPOINT=http://localstack-s3:5000
SPACES_BUCKET=testbucket
SPACES_REGION=us-east-1

GCS_PROJECT_ID=
GCS_KEYFILE=
GCS_BUCKET=